#app-header {
    grid-area: header;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--size-1);

    h1 {
        font-family: 'Doto', sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings: 'ROND' 0;
        font-size: 28px;
        line-height: var(--size-3);
    }
}
